@import 'scss/color';

.button {
  border: none;
  cursor: pointer;
  letter-spacing: 1px;
  font-weight: 700;
  background: theme-color('primary');
  color: theme-color('foreground');
  box-shadow: 0 4px darken(theme-color('primary'), 20);
  border-radius: 20px;

  &:hover {
    border: none;
  }

  &:active {
    box-shadow: 0 0 darken(theme-color('primary'), 20);
    top: 6px;
    border: none;
  }

  &:focus {
    outline:0;
  }

  &:disabled {
    background: lighten(theme-color('primary'), 40);
    box-shadow: 0 4px lighten(theme-color('primary'), 20);
  }
}

.button-round {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  padding: 0;
}
