@import 'scss/media';
@import 'scss/color';

@mixin clickable-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10px;
  @include breakpoint(small) {
    flex-direction: row;
    justify-content: center;
    padding-bottom: 0;
  }
  background-color: theme-color('accent');
  color: theme-color('foreground');
  box-shadow: 5px 5px 5px theme-color('border');

  &:hover {
    cursor: pointer;
    box-shadow: inset 0 0 10px theme-color('primary');
  }
}
