@import 'scss/color';

.pokemon-gallery {
  padding-top: 40px;
  text-align: center;
}

.pokemon-gallery__item {
  margin: 5px 0;
}

.pokemon-gallery__search {
  margin: 10px 0 20px 0;
  width: 50%;
}

.pokemon-gallery__spinner {
  margin-top: 50px;
}

.pokemon-gallery__no-result {
  margin-top: 30px;
}