<div class="pokemon-gallery">
  <input type="search" class="pokemon-gallery__search input-search" placeholder="Search pokemon..." #search (keyup)="onSearch(search.value)">

  <div class="container" *ngIf="!isLoadingData; else loadingTemplate">
    <div *ngIf="!networkError">
      <div *ngIf="pokemons.length > 0">
        <pokemon-paginator [length]="pokemons.length" [pageSize]="pageSize" (page)="currentPage = $event"></pokemon-paginator>

        <div class="row">
          <div *ngFor="let pokemon of paginatedList" class="pokemon-gallery__item col-12 col-sm-6 col-lg-3">
            <pokemon-thumbnail [pokemon]="pokemon"></pokemon-thumbnail>
          </div>
        </div>
      </div>

      <div *ngIf="pokemons.length <= 0">
        No Pokemon found for your search...
      </div>
    </div>

    <div *ngIf="networkError">
       Pokeman unhappy :( <br> Unexpected network error occurred. <br> Take a break and play later!!!
    </div>
  </div>
</div>

<ng-template #loadingTemplate>
  <div>
    Loading....
  </div>
</ng-template>
